.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    background-color: rgb(93, 218, 176);
    text-align: center;
    border-color: rgb(252, 252, 139);
    border: 5px solid black;
    margin: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    background-color: aqua;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
#gerar{
    background-color: aqua;
}